<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path %>

  <a href="/movies/<%=@movie.id%>" data-turbo-method="delete">Delete movie</a>
  <%#= button_to "Destroy this movie", @movie, method: :delete %>
</div>
